.mainCont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.mainCont div {
    max-width: 1200px;
    width: 100%;
}

.titleCont {
    background-color: rgb(237, 237, 237);
    margin: 20px 0;
    border-top: 1px solid #8d8d8d;
    border-bottom: 1px solid #8d8d8d;
}

.titleCont h1 {
    text-align: center;
    padding: 16px;
    font-size: 38px;
    font-weight: 200;
}

.mainContentCont {
    display: flex;
}